
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;

}
html{
    scroll-behavior: smooth;
}
/* navbar
#navbar{
    background-color: transparent;
height: 70px;
position: absolute;
   
    z-index: 10;
    width: 100%;
}
.navbar-section .main-container{

    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;

}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 10px 20px;
    font-family: Arial, sans-serif;
}
.navbar .logo {
    display: flex;
    align-items: center;
    padding: 5px 0;
    margin-right: 16px;

}

.navbar .nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 445px;
}
.navbar .nav-links li {
    margin-right: 45px;
}
.navbar .nav-links li a {
    text-decoration: none;
    color: #0C254A;
    font-weight: bold;
}
.navbar .nav-links li a:hover {
    color: #FFA600;
}
.navbar .nav-links .active {
    color: #FFA600;
}
.navbar .search-icon {
    font-size: 18px;
    cursor: pointer;
}

/* ---------------------------------------- */
/* banner */
/* .home-banner{
    z-index: 1;
    min-height: 900px;
    position: relative;
    background: url(../img/banner/home-banner.jpg) no-repeat center;
    background-size: cover;

}
.home-banner .container {
    text-align: center;
    padding: 20px;
    position: absolute;
    left: 20%;
    top: 25%;
}
.tagline {
    font-size: 20px;
    color: #002347;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
}
.headline {
    font-family:  Rubik, sans-serif;
    font-size: 48px;
    font-weight: 500;
    margin-top: 24px;
    margin-bottom: 48px;
}
.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.btn {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}
.learn-more {
    background-color: #001F54;
    color: #fff;
}
.see-course {
    background-color: #FFC107;
    color: #000;
} */ 





header{
    background-color: #EBE5E9;
    z-index: 1000;
    
    align-items: center;
    
    position: sticky;
    top: 0;
    transition:  background-color 0.5s ease-in-out;
}

header.scrolled{
 background-color: white;
 box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

   

}
header.scrolled nav a{
    color: black;
}





#navbar{
   
height: 70px;
position: relative;
   
    z-index: 10;
    width: 100%;
    position: sticky;
    top: 0;
    transition:  background-color 0.4s ease-in-out;
}
.navbar-section .main-container{

    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;

}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 10px 20px;
    font-family: Arial, sans-serif;
}
.navbar .logo {
    display: flex;
    align-items: center;
    padding: 5px 0;
    margin-right: 16px;

}

.navbar .nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 445px;
}
.navbar .nav-links li {
    margin-right: 45px;
}
.navbar .nav-links li a {
    text-decoration: none;
    color: #0C254A;
    font-weight: bold;
}
.navbar .nav-links li a:hover {
    color: #FFA600;
}
.navbar .nav-links .active {
    color: #FFA600;
}
.navbar .search-icon {
    font-size: 18px;
    cursor: pointer;
}
/*  */


/* banner */
.home-banner{
    z-index: 1;
    min-height: 900px;
    position: relative;
    background: url(img/banner/home-banner.jpg) no-repeat center;
    background-size: cover;

}
.home-banner .container {
    text-align: center;
    padding: 20px;
    position: absolute;
    left: 20%;
    top: 25%;
}
.tagline {
    font-size: 20px;
    color: #002347;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
}
.headline {
    font-family:  Rubik, sans-serif;
    font-size: 48px;
    font-weight: 500;
    margin-top: 24px;
    margin-bottom: 48px;
}
.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.btn {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}
.learn-more {
    background-color: #001F54;
    color: #fff;
}
.see-course {
    background-color: #FFC107;
    color: #000;
}

/* ------------------------------------------ */
/* feature */
#feature-section{
  padding-top: 130px;
  padding-bottom: 100px;
}
.feature-section .main-container{

    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
    border: 1px solid black;
}
.feature-container {
    text-align: center;
}
.feature-title {
    font-size: 36px;
    color: #001F54;
    margin-bottom: 10px;
}
.feature-subtitle {
    font-size: 16px;
    color: #7A7A7A;
    margin-bottom: 90px;
    font-style: italic;

}
.feature-cards {
    display: flex;
    gap: 30px;
}

.feature-cards .card {
    background-color: #F9F9FF;
 
    padding: 20px;
    padding: 40px 36px;
    text-align: left;
}
.feature-cards  .card:hover{
    box-shadow: 0px 10px 30px rgba(0, 35, 71, 0.1);
cursor: pointer;
}
.feature-cards .card .card-icon i {
    font-size: 30px;
}
.feature-cards .card .card-title {
    margin-top: 16px;
    margin-bottom: 8px;
    font-size: 20px;

    color: #001F54;
}
.feature-cards .card .card-description {
    font-size: 16px;
    color: rgb(123, 131, 138);
}

/* ------------------------------------------------------ */
/* popular-courses */
#popular-section{
   
    padding-bottom: 100px;
  }
  .popular-section .main-container{
  
      max-width: 1140px;
      margin: 0 auto;
      padding: 0 15px;
      border: 1px solid black;
  }
 
.header-popular {
    text-align: center;
}
.header h1 {
    margin: 0;
}
.courses {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 30px;
}
.course {
    
    text-align: left;
    width: 331px;
}
.course:hover{
    box-shadow: 0px 10px 30px rgba(0, 35, 71, 0.1);
    cursor: pointer;
}
.course img {
    height: 259px;
    width: 330px;

}
figure{
    /* height: 382px; */
    overflow: hidden; 
    margin: 0;
  }
.course:hover .img-one {
    transform: scale(1.2); 
    transition: all 0.3s ease 0s;   
  
  }

.course h3 {
   
    margin-top: 24px;
    margin-bottom: 24px;
    color: #002347;
}
.course:hover h3{
    color: #FDC632;
}
.course p {
    color: gray;
}
.course .price {
    background: #FDC632;
    border-radius: 50%;
    color: white;
    padding: 10px 20px;
    position: relative;
    top: -20px;
    display: inline-block;
}
.course:hover .dollar{
    background-color: #001F54;
    color: #FFA600;
}
.course .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}
.course .details img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 8px;
}
.course .details .stats {
    display: flex;
    align-items: center;
}
.course .details .stats span {
    margin-left: 10px;
}
.popular-content{
    position: relative;
    padding: 30px 36px;
    background-color: #F9F9FF;
}
.popular-content .dollar{
    position: absolute;
    right: 30px;
    top: -34px;
    background: #FDC632;
    border-radius: 50%;
    font-size: 20px;
    height: 65px;
    width: 65px;
    color: #002347;
    text-align: center;
    
    padding: 20px 10px;
}
.popular-content .design{
    padding: 2px 21px;
    font-size: 13px;
    color: #fff;
    background: #002347;
    text-transform: uppercase;
    margin-bottom: 24px;

}
.details .image{
    align-items: center;
    
    display: flex;
}
.owl-theme .owl-nav {
    display: flex !important;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    width: 120%;
    transform: translateY(-50%);
    left: -11%;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
    background: yellow;
}
.owl-carousel .owl-nav button.owl-next span, .owl-carousel .owl-nav button.owl-prev span{
    padding: 5px 10px;
}




/* ------------------------------------------------ */
/* register-now */
#register-now{
   
    background-color: #002347;
    color: white;
    padding: 130px 0 130px 0;
  }
  .register-now .main-container{
  
      max-width: 1140px;
      margin: 0 auto;
      padding: 0 15px;
      border: 1px solid black;
}
.register-now {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.register-info {
    flex: 2;
    margin-top: 30px;
}
.register-info h1 {
    font-size: 42px;
    margin-bottom: 16px;
}
.register-info p {
    margin-top: 30px;
    padding-right: 30px;
    font-size: 16px;
    margin-bottom: 16px;
}
.countdown {
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.countdown div {
    background: #334f6c;
    padding: 35px 20px;    border-radius: 5px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.4);
    flex: 1;
    margin-top: 65px;
    margin-right: 15px;
}
.count-down-content{
    display: flex;
    gap: 5px
    ;
}

.countdown h2 {
    margin: 0;
    font-size: 2em;
}
.countdown span {
    display: block;
    margin-top: 10px;
    font-size: 1.2em;
}
.form-container {
    flex: 1;
    background: #fff;
    padding: 20px;
   
    color: #333;
    margin-left: 93px;
    padding-left: 15px;
    text-align: center;
    padding: 40px;
}
.form-container h2 {
    margin: 0 0 10px 0;
    font-size: 1.8em;
    color: #0D3B66;
}
.form-container p {
    margin-bottom: 20px;
    font-size: 1em;
    color: #627590;
}
.form-container form {
    display: flex;
    flex-direction: column;
}
.form-container input {
    padding: 10px;
    margin-bottom: 10px;
   
    border-radius: 5px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
}
.form-container button {
    padding: 10px;
    background: #FFC107;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    margin-top: 24px;
    cursor: pointer;
}
.form-container button:hover {
    background: #E0A800;
}



/* ---------------------------------------------- */
/* expert-trainers */
#expert-trainers{
    padding-top: 100px;
    padding-bottom: 100px;
 }
.expert-trainers .main-container{
  
      max-width: 1140px;
      margin: 0 auto;
      padding: 0 15px;
      border: 1px solid black;
}
.expert-trainers .main-container .trainer-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    
}
.expert-trainers .main-container .trainer-cards .trainer-card {
    background-color: #fff;
    border-radius: 8px;
    width: 251px;
    
  
    text-align: center;
   
}
.expert-trainers .main-container .trainer-cards .trainer-card:hover{
    box-shadow: 0px 10px 30px rgba(0, 35, 71, 0.15);
    cursor: pointer;
}

.trainer-card .card-image img {
    height: 213px;
    width: 251px;
}
.trainer-card .card-name {
    font-size: 20px;
    color: #001F54;
    margin: 10px 0 5px 0;
}
.trainer-card .card-position {
    font-size: 14px;
    color: #7A7A7A;
    margin-bottom: 30px;
}
.trainer-card .card-description {
    font-size: 16px;
    color: #7A7A7A;
    margin-bottom: 24px;

}
 .card-social i {
    font-size: 1rem;
    color: #001F54;
    margin: 0 5px;
    cursor: pointer;
}

.trainer-inner-content {
    padding: 20px 25px;
    box-shadow: 0px 0px 30px rgba(153, 153, 153, 0.13);
}



/* ------------------------------------------------ */
/* events */
#events{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #002347;
    color: white;
 }
.events .main-container{
  
      max-width: 1140px;
      margin: 0 auto;
      padding: 0 15px;
      border: 1px solid black;
}

.events .main-container .header-popular .feature-title.white{
    color: white !important;
}

.events-cards {
    display: flex;
     justify-content: space-between;
    gap: 20px;
}
.card {
    color: #000000;
    position: relative;
    
    flex-direction: column;
    border: 1px solid black;
}
.card-image img {
    width: 540px;
    height: 400px;

}
.card-details {
  
    padding: 30px 25px;
    height: 291px;
    width: 275px;
    padding: 30px 25px;
    position: absolute;
    right: 0;
    top: 0;
    background: rgba(0, 35, 71, 0.5);
    color: white;

}
.card-date {
    color: #FFFFFF;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 24px;

   
    display: flex;
}
.card-date .date{
    border-right: 1px solid white;
    padding-right: 16px;
}
.card-date .time{
    text-align: left;
    padding-left: 16px;
}

.card-date span {
    display: block;
    font-size: 1.2rem;
}
.card-info {
    flex: 1;
}
.card-info p {
    margin-bottom: 24px;

}
.card-info .btn {
    background-color: #FFC107;
    color: #000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 4px;
}
.view-all {
    display: inline-block;
    color: #FFC107;
    text-decoration: none;
    font-size: 16px;
    padding-bottom: 2px;
    padding-top: 48px;
    /* text-align: center; */
    width: 100%;
    text-align: center;
}


/* ---------------------------------------- */
/* client */
#client{
    padding-top: 130px;
    padding-bottom: 130px;
 }
.client .main-container{
  
      max-width: 1140px;
      margin: 0 auto;
      padding: 0 15px;
      border: 1px solid black;
}
.client .main-container .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.client .main-container .container .title h2{
    font-size: 26px;
}
.testimonial {
    padding: 50px 55px;
    margin: 0 10px;
    box-shadow: 0px 15px 30px 0px rgba(221, 221, 221, 0.3);
        display: flex;
}
.testimonial:hover {
    box-shadow: 0px 10px 30px 0px rgba(0, 35, 71, 0.1);
    cursor: pointer;
}
.testimonial img {
    border-radius: 4px;
   
}
.testimonial .text {
    flex: 1;
    padding-left: 30px;
}
.testimonial .text p {
    font-size: 16px;
    color: #666;
    
    margin-bottom: 20px;
}
.testimonial .text .name {
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
    color: black;
}


 .client .main-container .testimony-slider.owl-carousel.owl-theme.owl-loaded.owl-drag
.owl-stage-outer .owl-stage .owl.item.active .item .testimonial img{
    display: block;
    width: 121px;
    height: 121px;
}
/* ------------------------------------ */
/* footer */
#footer-section{
    padding-top: 130px;
    padding-bottom: 130px;
    background-color: #0C254A;
 }
.footer-section .main-container{
  
      max-width: 1140px;
      margin: 0 auto;
      padding: 0 15px;
      border: 1px solid black;
}
.footer {
    
    color: #FFFFFF;
}
.footer-container {
    display: flex;
   
}
.footer-column {
    flex: 1;
    
}
.footer-column h4 {
    font-size: 18px;
    margin-bottom: 35px;
}
.footer-column ul {
    list-style: none;
    padding: 0;
}
.footer-column ul li {
    color: grey;
    font-size: 16px;
    margin-bottom: 15px;
}
.newsletter-form {
    display: flex;
    gap: 10px;
}
.newsletter-form input {
   
    flex: 1;
    height: 40px;
    border: none;
    /* width: 80% !important; */
    font-weight: 300;
    background: #334f6c;
    color: #ffffff;
    border-radius: 0;
    font-size: 14px;
    padding: 10px;
    padding-left: 20px;
    outline: none;
}
.newsletter-form button {
    background: #fdc632;
    background-size: 200% auto;
    color: #002347;
    border-radius: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 8px 20px;
    margin-left: -60px;
    font-size: 12px;
    text-transform: uppercase;
    height: 34px;
    margin-top: 3px;
    border: none;
}
.newsletter p{
    margin-bottom: 16px;
    color: grey;

}
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    line-height: 25px;
}
.footer-bottom p {
    margin: 0;
    flex: 1;
}
.social-icons {
    display: flex;
    gap: 10px;
    padding-right: 50px;
}
.social-icons i {
    font-size: 1.5rem;
    color: #FFFFFF;
    cursor: pointer;
}